CREATE DATABASE [VirtualMind]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VirtualMind', FILENAME = N'C:\VirtualMind\SQLServerDatabase\VirtualMind.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VirtualMind_log', FILENAME = N'C:\VirtualMind\SQLServerDatabase\VirtualMind_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [VirtualMind]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [VirtualMind] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
